<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420452724549-pae9v1ishiah9q8hqb2g2ppsntkb06hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420452724549-pae9v1ishiah9q8hqb2g2ppsntkb06hs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420452724549-c7h73t6c0bokqimhun2qo8ck2ir9gbu0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTQ3TYOBwWvBGoCEVJM-5pm2vMM2iYvuk</string>
	<key>GCM_SENDER_ID</key>
	<string>420452724549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fyp.eventMate</string>
	<key>PROJECT_ID</key>
	<string>event-mate-fyp-bsse</string>
	<key>STORAGE_BUCKET</key>
	<string>event-mate-fyp-bsse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420452724549:ios:8fc21f80c9378f88c6182c</string>
</dict>
</plist>